{% extends 'base.html.twig' %}
{% block content %}
    {% for article in articles %}
        <div class="article-container mb-2">

            <div class="row no-gutters border flex-md-row p-3 mb-4 shadow-sm">
                <div class="col-auto d-block">
                    <img class="article-img" src={{ article['image'] }}>
                </div>
                <a class="col px-4 d-flex flex-column article-item"
                   href="{{ path("app_detailse", {id: article['slug']}) }}">
                    <h5 class="mb-2">{{ article['title'] }}</h5>
                    <div class="d-flex mb-2">
                        <div class="text-muted align-self-center">
                            <img class="article-author-img rounded-circle"
                                 src="https://robohash.org/хэтээмэль_цеэсесович.png?set=set3"> Хэтээмэль Цеэсесович
                        </div>
                        <div class="text-muted align-self-center ml-3"><i class="fas fa-clock size-is-"></i> 3 дня назад
                        </div>
                    </div>
                    <div class="mb-2 d-flex">
                        <span class="badge badge-primary mr-2"><i class="fas fa-comment"></i> 5</span>
                        <span class="badge badge-pill badge-secondary mr-2">Html</span>
                        <span class="badge badge-pill badge-secondary mr-2">Css</span>
                    </div>
                    <div class="mb-2 text-muted">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu…</p>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}