*{
    font-family: 'Roboto', sans-serif;
}

html,body{
    margin: 0;
    padding: 0;
    background-color: #f6f7f9;
}

header{
    height: 100px;
    padding: 0 40px;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section{
    padding: 40px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    color: #3d52fe;
    text-decoration: underline;
}

.first-block{
    height: 300px;
}

.first-block > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("man.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}

.fixed-container{
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.marg-wid-work{
    margin-top: 20px;
    font-size: smaller;
    width: 200px;
}

.marg-expl-work{
    margin-top: 20px;
    font-size: smaller;
    width: 250px;
}


.img-wid-size{
    width: 100px;
    height: 100px;
    margin-left: 30px;
}



.img-example-work {
    width: 300px;
    height: 200px;
}

.light-button{
    border: 1px solid black;
    background-color: transparent;
    
}

.dark-button{
    background-color: #3d52fe;
    border: 1px solid #3d52fe;
    
    color: white;
}

button {
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
}

.price-info{
    background-color: #3d52fe;
    color: white;
    
}

.price-info-text-size{
    font-size: xx-large;
    width: 600px;
    line-height: 16px;
    margin-bottom: 70px;
}

.popup-container{
    background-color: #000000b3;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup{
    background-color: white;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 5px;
}

.popup > div {
    display: flex;
    justify-content: center;
}

.intmarg{
    margin:20px 10px;
    border: 1px solid black;
}

.margin-size{
    margin-top: 100px;
}

.header-margin-a{
    margin-right: 30px;
}

.foot-style{
    padding: 40px;
    display: flex;
    justify-content: space-around; 
    
}
 


.column-text{
    display: flex;
    flex-direction: column;
    
}

.foot-img{
    display: flex;
    flex-direction: column; 
}

.foot-img-display{
    display: flex;
    justify-content: space-between;
}

.foot-img-size{
    margin-top: 30px;
width: 15px;
height: 20px;
}

.marhin-foot-text{
    margin-top: 30px;
}